body{
    
}
*{
box-sizing: border-box;
margin:0;
padding:0;
}
.menu{
    position: relative;
    top:0;
width:100%;
height:80px;
background-color: rgb(29, 29, 29);


display: block;


}
.container {
    display: inline-block;
    cursor: pointer;
    float: right ;
    padding-top:20px;
    padding-right: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(150, 150, 150);
    margin: 6px 0;
    transition: 0.7s;
  }
  
  .change .bar1 {
    -webkit-transform:translatey(9px);
    transform:translatey(9px) ;
    opacity: 0;
  }
  
  .change .bar2 {opacity: 1;}
  
  .change .bar3 {
    -webkit-transform: translatey(-9px);
    opacity: 0;
    transform: translatey(-9px);
  }
.logo{
    display: inline-block;      
font-weight: 200;
color:rgb(253, 255, 223);
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
font-size:20px;
padding:28px;
animation-name:move ;
animation-duration: 1s;
transition: 0.3s ease-in-out;
}

@keyframes move{
    0%{transform:translateX(-3em);opacity: 0;}
    100%{transform:translatex(0);opacity: 1;}
}
.logo:hover{
    cursor: pointer;
   transform: translatey(-3px);
    
}

.nav{
    position: absolute;
    right:100px;
    top:15px;
    
    
    text-align: center;
    letter-spacing: 2px;
    display:block;
    transition:0.2s ease-in-out;
    opacity: 0;
}
.active{
    display:block;
    transition:0.5s ease-in-out;
opacity: 1;
}
a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}
li{
    padding:10px;
    text-decoration: none;
    display:inline-block;
    font-family: "raleway";
font-size: 20px;
    text-transform: capitalize;
}


.main{
width: 100%;
height:500px;

}
.footer{
    width:100%;
    height:150px;
    background-color: rgb(253, 255, 223);
    color: rgb(29, 29, 29);
    font-size: 25px;
    text-align: center;
    padding-top:50px;
    text-transform: uppercase;
}
