body{
  background-color: black;
}
*{
    font-family: "raleway";  
    letter-spacing: 2px;
box-sizing: border-box;
margin:0;
padding:0;
}
/*////////////////custom scroll\\\\\\\\\\\\\\\\*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.568); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
 
.menu{
    position: fixed;
    top:0;
width:100%;
height:80px;
background-color: #292929;
z-index: 1000;

display: block;


}
.introvideo{
    display:inline-block;
    margin-top:300px;
   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#2c3531;
    font-family: "raleway";

}
.camtude{
  position: relative;
  bottom: 40px;
    color: rgb(43, 177, 255);
    text-transform: capitalize;
    font-size: 10px;
}
.welcome{
   position: fixed;
   width:100%;
   height:100%;
   align-items: center;
text-align: center;
   z-index: -5;
   opacity: 0;
   background-size: cover;
   background-color: #292929;
   animation-name: fade;
   animation-duration: 3s;
}

@keyframes fade{
  0%{opacity: 1;z-index: 100;}
  75%{opacity: 1;z-index: 100;}
  100%{opacity: 0;z-index: -2;}

}

.welcome h3{
  position: relative;
  bottom:150px;
  height:50px;
  font-size: 70px;
text-transform: capitalize;
color:#48E5C2;
animation-name: bpmove;
animation-duration: 1s;
}
@keyframes bpmove{
  0%{transform:translateY(30px);opacity: 0;}
  100%{transform:translateY(0);opacity: 1;}
}
#Layer_2{
  margin-top:100px;
  margin-left:200px;
  width:400px;
  height:300px;
animation-name: iconmove;
animation-duration: 1s;
}
@keyframes iconmove{
  0%{transform:translateY(-30px);opacity: 0;}
  
  100%{transform:translateY(0px);opacity: 1;}
}

/*/////////////////////////////flip card\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.contentimg{
    width:50%;
    height:auto;
    float:right;
    display:inline-block;
    padding-right:30px;


}

  .cursor {
    cursor: pointer;
  }
  
.service{
    position: fixed;
    top:80px;
    z-index: 101;
    display:none;
    width:100%;
    height:auto;
    padding-bottom: 20px;
    background-color:#292929ef; 
     opacity:0;
    transition: 0.8s ease-in-out;
  transition-property: all;
}
  
  .servicemenu{
      display:block;
      padding:30px;
      text-transform: capitalize;
      text-align: center;

  }
  .servicemenu:hover{
    transform:translatex(3px);
    color:#FCFAF9;
    cursor: pointer;
  }
 
  .servicesec{
      width:33%;
      height:auto;
      display: inline-block;
      float:left;
  }
 
  .main{
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding:0;
    border:none;
}

.sec{
  position:relative;
     display: inline-block;
    width: 33.333%;
    height:335px;
    overflow: hidden;
    margin: -2px;
    margin-left: -4px;
    padding:-10px;
    border:none;
text-align: center;
    background-color: rgb(0, 0, 0);
}
.sec:hover{
  cursor: pointer;
}
  img {
    width:100%;
    margin: 0;
    padding:0;
    border:none;
transition:0.5s ease-in;
  }
  img.hover-shadow {
    
    cursor: pointer;
  }
  
  .sec:hover .servicecontent {
    
    background-color:#48E5C2d5 ;
    bottom:90%;
opacity:1;


  }
  .sec:hover .servicename{
    color:#48E5C2;
    opacity: 1;
    transform:scale(1.1);
    top:-310px;
  }
  
.servicename{
  
  position: relative;
  top: -210px;
    font-family: "raleway";
    text-align: center;
    padding:20px;
    opacity: 0.5;
    color:#FCFAF9;
    text-transform: uppercase;
    transition:0.5s ease-in-out
}
.servicecontent{
  position: relative;
  height:335px;
  opacity: 1;
  bottom:0%;
    z-index: 0;
    color:#292929;
    width:100%;
    font-weight: 500;
    background-color:#48E5C2a6 ;
    overflow: hidden;
    padding:30px;
    
   transition: all 0.5s ease-in-out; 
}

  .servicecontent a{
    position: relative;
    top:15px;
    color:#2c3531;
font-weight: 600;
    text-transform: uppercase;
    padding:10px;
    transition:0.3s ease-in-out;
  }
  .servicecontent a:hover{
    color:#48E5C2;
    
    background-color: #292929;
  }
.container {
    display: inline-block;
    cursor: pointer;
    float: right ;
    padding-top:20px;
    padding-right: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: rgb(170, 170, 170);
    margin: 6px 0;
    transition: 0.7s;
  }
  
  .change .bar1 {
    -webkit-transform:translatey(9px);
    transform:translatey(9px) ;
    opacity: 0;
  }
  
  .change .bar2 {opacity: 1;}
  
  .change .bar3 {
    -webkit-transform: translatey(-9px);
    opacity: 0;
    transform: translatey(-9px);
  }
.logo{
    display:inline-block;    
    width:100px; 
font-weight: 500;
color:;
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
font-size:30px;
padding-top:0px;
padding-left:0px;

opacity:1;
animation-name:move ;

animation-duration: 3s;
transition: 0.3s ease-in-out;
}

@keyframes move{
    0%{transform:translateX(-3em);opacity: 0;}
    85%{transform:translateX(-3em);opacity: 0;}
    75%{opacity:0;}
    100%{transform:translatex(0);opacity: 1;}
}
.logo:hover{
    cursor: pointer;
   transform: translatey(-3px);
    
}
#Layer_1{
  display:inline-block;
  height:50px;
  width:100px;
  margin-top: 15px;
  margin-left: 40px;
  transform:scale(1.5);

}


.nav{
    position: absolute;
    right:100px;
    top:15px;
    
    
    text-align: center;
    letter-spacing: 2px;
    display:block;
    visibility: hidden;
    transition:0.2s ease-in-out;
    opacity: 0;
}
.active{
    display:block;
  
    visibility: visible;
opacity: 1;
}
a{
    text-decoration: none;
    color: rgb(170,170,170);

}
li{
    padding:12px;
    padding-bottom:30px;
    text-decoration: none;
    display:inline-block;
    font-family: "raleway";
font-size: 15px;
z-index: 100;
color: rgb(170, 170, 170);
    text-transform: capitalize;
    transition:0.5s ease-in-out;
}
li:hover{
    transform:translatey(-3px);
    cursor: pointer;
    }
    li.servicemenu:before
    {
      content: '';
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      color: rgba(72, 229, 195, 0.151);
      border-radius: 50%;
    z-index: -1;
      opacity: 0;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 500px;
      transition: letter-spacing 0.5s,left 0.5s;
    }
    ul li.servicemenu:hover:before
    {
      content: attr(data-text);
      opacity: 1;
      left: 50%;
      letter-spacing: 10px;
      width: 100px;
      height:10px;
    }
    
.video{
width: 100%;
height:500px;
text-align: center;
background-color: rgb(0, 0, 0);

}
.footer{
  display: inline-block;
    width:100%;
    height:330px;
   
    text-align: center;
    font-family: "raleway";
    background-color:#292929;
    color: rgb(150,150,150);
    font-size: 20px;
    
    padding-top:30px;
    text-transform: uppercase;
}
.footer h5{ display: inline-block;
width:380px;
  padding-bottom:20px;
 padding-left: 10px;
  text-align: left;
}
.footservice{
  display: inline-block;
 width:360px;
  height:250px;
  float:left;
  text-align: left;
  margin-left: 4%;
  padding-bottom: 20px;
}
.footsec{
  display:inline-block;
  width:170px;
  height:150px;
}
.blog h5{
  width:200px;
}
.blog{
  display:inline-block;
  float:left;
  text-align: left;
  margin-left: 60px;
  width:200px;
  height:200px;
}
.footdiv{
  display: inline-block;
  width:100px;
  float: right;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 3%;
  text-align: right;
  
}
.fab:hover{
transform: scale(1.1);

}
.servicelist{
  display:block;
  padding:10px;
  font-size: 10px;
}

.sociallinks{
  display: block;
}
.fab{
  display:inline-block;
  float:right;
text-align: right; 
 padding:10px;
  
  transition:0.5s ease-in-out;
}
.fa-instagram:hover{
color:rgb(255, 98, 216);
}
.fa-youtube:hover{
  color:rgb(255, 82, 82);
}
.fa-linkedin-in:hover{
  color:rgb(45, 129, 255);
}
.fa-twitter:hover{
  color:rgb(61, 216, 255);
}
.copyrights{
  font-size: small;
  text-align: center;
  
}

.line2{
    border:0.5px solid #48E5C2;
    width :90%;
    
    align-items: center;
    margin-bottom: 15px;
    margin-left:5%;
}

@media screen and (max-width: 300px)
