body{
    
}
*{
box-sizing: border-box;
margin:0;
padding:0;
}
.menu{
    position: fixed;
    top:0;
width:100%;
height:80px;
background-color: rgb(29, 29, 29);
z-index: 1000;

display: block;


}
.introvideo{
    position: relative;
    top:200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-family: "raleway";

}
.welcome{
    position: fixed;
   opacity:0;
   width:100%;
   height:100%;
   z-index: 109;
    background-color: rgb(29, 29, 29);
    background-size: cover;
    display:block;
    
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 102, 75);
    height:100%;
    width:100%;
    animation-name: fade;
 animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
@keyframes fade{
    0%{opacity:1; }
    50%{opacity:1;}
    100%{opacity:0;}
}
.welcome h3{
    position: relative;
    top:50%;
    
    font-family: "raleway";
    letter-spacing: 3px;
    font-weight: 400;

}
.container {
    display: inline-block;
    cursor: pointer;
    float: right ;
    padding-top:20px;
    padding-right: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: rgb(150, 150, 150);
    margin: 6px 0;
    transition: 0.7s;
  }
  
  .change .bar1 {
    -webkit-transform:translatey(9px);
    transform:translatey(9px) ;
    opacity: 0;
  }
  
  .change .bar2 {opacity: 1;}
  
  .change .bar3 {
    -webkit-transform: translatey(-9px);
    opacity: 0;
    transform: translatey(-9px);
  }
.logo{
    display: inline-block;      
font-weight: 200;
color:rgb(255, 102, 75);
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
font-size:20px;
padding:28px;
opacity:1;
animation-name:move ;
anima
animation-duration: 1s;
transition: 0.3s ease-in-out;
}

@keyframes move{
    0%{transform:translateX(-3em);opacity: 0;}
    100%{transform:translatex(0);opacity: 1;}
}
.logo:hover{
    cursor: pointer;
   transform: translatey(-3px);
    
}

.nav{
    position: absolute;
    right:100px;
    top:15px;
    
    
    text-align: center;
    letter-spacing: 2px;
    display:block;
    transition:0.2s ease-in-out;
    opacity: 0;
}
.active{
    display:block;
    transition:0.5s ease-in-out;
opacity: 1;
}
a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}
li{
    padding:12px;
    text-decoration: none;
    display:inline-block;
    font-family: "raleway";
font-size: 15px;
    text-transform: capitalize;
    transition:0.5s ease-in-out;
}

li:hover{
transform:translatey(-3px);

}
.video{
width: 100%;
height:500px;
background-color: rgb(0, 0, 0);

}
.footer{
    width:100%;
    height:250px;
    font-family: "raleway";
    background-color:rgb(255, 102, 75);
    color: rgb(48, 48, 48);
    font-size: 20px;
    text-align: center;
    padding-top:50px;
    text-transform: uppercase;
}
.footer h6{
    position: relative;
bottom:50px;
    top:150px;
}

.main{
    width:100%;
    height:600px;
    background-color: rgb(29,29,29);
}
.line2{
    border:1px solid rgb(224, 95, 72);
    width :90%;
    border
    align-items: center;
    margin-bottom: 15px;
    margin-left:5%;
}